In [1]:
age = 10

In [2]:
print (age)

10

In [6]:
print("name")

name

In [5]:
name = "avinash"

In [7]:
print(name)

avinash

In [8]:
print(age)

10

In [9]:
age = 10.20
print(age)

10.2

In [10]:
age = "10"
print(age)

10

In [11]:
type(age)

str

In [20]:
age = "10"
age = True
print (age)
type(age)

True

bool

In [16]:
age = 10.20
print (age)
type(age)

10.2

float

In [22]:
a = 10
b = 20
c = a + b
print (c)

30

In [35]:
a = 10
b = 20
c = a + 40
print (a + b)

30

In [25]:
c = a + 40
a = 10
b = 20
print (c)

50

In [29]:
first_name = "Avinash"
Last_name = "Baroth"
full_name = first_name + " " + Last_name
print (full_name)

Avinash Baroth

In [41]:
first_name = "Avinash"
last_name = "Baroth"
full_name = first_name + " " + Last_name
print (full_name + str(a))

Avinash Baroth10

In [45]:
first_name = "50"
last_name = "10"
full_name = first_name + " " + Last_name
print (int(first_name) + (a))

60

In [50]:
a = 10
first_name = "50"
last_name = "Baroth"
full_name = first_name + " " + Last_name
print (int(first_name) + float(a))

60.0

In [47]:
type(first_name)
type(Last_name)
type(a)

int

In [34]:
print (type(first_name))
print (type(Last_name))
print (type(a))

<class 'str'>
<class 'str'>
<class 'int'>

In [51]:
first_name = "Avinash"
Last_name = "Baroth"
full_name = first_name + " " + Last_name
print (full_name)

Avinash Baroth

In [52]:
first_name = "Avinash"
print (first_name[0])

A

In [53]:
first_name = "Avinash"
print (first_name[2])

i

In [55]:
first_name = "Avinash"
print (len(first_name))

7

In [59]:
first_name = "Avinash"
print (first_name[-1])

h

In [60]:
first_name = "Avinash"
print (first_name[-4])

n

In [62]:
first_name = "Avinash"
print (first_name[0:3])

Avi

In [64]:
first_name = "Avinash"
print (first_name[-7:-4])

Avi

In [65]:
first_name = "Avinash"
print (first_name[-7:])

Avinash

In [66]:
first_name = "Avinash"
print (first_name[0:])

Avinash

In [69]:
first_name = "Avinash"
first_name.istitle()

True

In [70]:
first_name = "avinash"
first_name.istitle()

False

In [73]:
first_name = "avinash"
print (first_name.istitle())
print (first_name.isalnum())

False
True

In [78]:
first_name = "avinash"
print (first_name.istitle())
print (first_name.isalnum())
first_name.upper()
print (first_name.upper())
first_name.isupper()

False
True
AVINASH

False

In [20]:
first_name = "avinash"
last_name = "baroth"
skill_level = 8
target_skill_level = 10
rank = 1.0
print (first_name)
diff_skill_level = target_skill_level - skill_level
print (diff_skill_level)
type (diff_skill_level)
type (first_name)
print (first_name + " " + last_name)
print (first_name + " " + last_name + " - " + str(skill_level))
print (target_skill_level + rank)

avinash
2
avinash baroth
avinash baroth - 8
11.0

In [16]:
float_num = 10.7
int_num = int(float_num)
print(f"Float to int: {int_num}, type: {type(int_num)}")

Float to int: 10, type: <class 'int'>

In [17]:
str_num = "123"
converted_int = int(str_num)
print(f"String to int: {converted_int}, type: {type(converted_int)}")

String to int: 123, type: <class 'int'>

In [18]:
int_val = 20
float_val = float(int_val)
print(f"Int to float: {float_val}, type: {type(float_val)}")

Int to float: 20.0, type: <class 'float'>

In [22]:
truthy_val = bool(1)
falsy_val = bool(0)
empty_string_bool = bool("")
non_empty_string_bool = bool("hello")
print(f"1 to bool: {truthy_val}")
print(f"0 to bool: {falsy_val}")
print(f"Empty string to bool: {empty_string_bool}")
print(f"Non-empty string to bool: {non_empty_string_bool}")

1 to bool: True
0 to bool: False
Empty string to bool: False
Non-empty string to bool: True